.env
.env.*
node_modules/
package-lock.json
serverless-state.json
.serverless/
.aws/
.localstack/
coverage/
dist/
.DS_Store

.env
.env.*
node_modules/
package-lock.json
serverless-state.json
.serverless/
.aws/
.localstack/
coverage/
dist/
.DS_Store

